.gap {
    margin-bottom:10px; 
    font-size:14px;
    margin-top: 10px;
    cursor: pointer;
}

.textsize {
    font-size: 11px;
}

.onesColour{
  background-color: #f3e8ff;
}

.twoColour{
    background-color: 
    #e7f2fe;
  }
  
.threeColour{
    background-color: #edf5ed
  }
  
.fourColour{
    background-color:#fffef3;
  }
  * {
  
    font-family: 'Lato';
    outline: 0;
    font-size: 14px;
    color: #444444;
}