.tile1 {
    margin: 15px 15px 0px;
}

.color {
    color: #95af28;
}
.searchbox{
    padding: 10px;
    border-radius: 9px;
    background-color: #ddd;
    width: 140px;
}
.uploaddocs{
    padding: 10px;
    border-radius: 9px;
    background-color: #372f85;  
    width: 140px;
    color: white;
}

