.button-div {
    // margin-top: 18px;
    padding: 10px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0px !important;
}

.appreciation-box>.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.submit-styling {
    height: 36px;
    background: linear-gradient(to bottom, rgba(92, 205, 146, 1) 0%, rgba(98, 176, 177, 1) 100%) !important;
}

.submit-styling1 {
    background-image: grey;
}
* {
  
    font-family: 'Lato';
    outline: 0;
    font-size: 14px;
    color: #444444;
}