<div fxFlex fxLayout="column"  style="overflow:auto">

    <div fxFlex="6" fxFlex.xs="3" fxLayout="row" style="margin-top:1%;margin-left: 1%">
        <div fxLayout="row" fxLayoutAlign="space-around center"  *ngFor="let list of forumsSubMenu" routerLink='{{list.categoryURL}}'   class="tabinactive"  routerLinkActive="tabactive"
            (click)="redirect(list.categoryURL)" fxHide.xs='true'>
            {{list.categoryName}}<sup *ngIf="list.isNew" style="color: red; font-size: 10px; padding-bottom: 16px">New!</sup>

        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxHide.sm='true' fxHide.md='true' fxHide.lg='true' fxFlex.xs>
               <div fxFlex="10" fxLayoutAlign="center center">
                    <i class="fa fa-bars" aria-hidden="true" (click)="opensidnav()" ></i>
               </div> 
               <div fxFlex="90" fxLayoutAlign="center center">{{catergoryname}}</div>
                
        </div> -->
        
    </div>


    <div fxFlex fxLayout="row" style="margin:0 1% 1% 1%" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" >
        <div fxFlex fxLayout="column"  class="eventssection" >
                <!-- <div class="sidenav" [style.width]="sidenavwidth" fxLayout="column">
          
                        <div  fxLayoutAlign="end end">
                            <mat-icon (click)="closeNav()" class="color" style="cursor: pointer" fxLayoutAlign="end end">&#xE5CD;</mat-icon>
                        </div>
                        <mat-nav-list>
                               <a mat-list-item routerLink="." *ngFor="let list of submenu" style="color:#111" (click)="redirect(list.categoryURL,list.categoryName)">{{list.categoryName}}</a>
                          </mat-nav-list>
                      </div> -->
            <router-outlet></router-outlet>
        </div>

       
    </div>

</div>