<div fxLayout="column" fxFlex style="margin:20px" fxLayoutGap="20px">
    <div fxFlex="50" >
        
  
                  <span>{{data.warning}} </span>
          
    </div >
        <div fxFlex="50" fxLayoutAlign="end end">
              
                      <button mat-button [mat-dialog-close]="true" class="yesclass"><span>Yes</span></button>
                      <button mat-button  mat-dialog-close cdkFocusInitial class="noclass"><span>No</span></button>
                  
        </div>
          
  </div>
  