.image-click-view span{
    position: absolute;
    top: 50%;
    background-color: white;
    color: black;
    font-size: 10px;
    border: none;
    width:100%;
    text-align:center
}
.image-click-view  {
    position: relative;
  
}
.image-click-view b{
    position: absolute;
    top: -15%;
    right: -10%;
  
}