// ngx-image-viewer {
//     min-height: 400px;
//     width: 100%;
// }
.mat-dialog-container {
    padding: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color:#EEEFF1
}

// .mat-dialog-content {
//     margin: 0px !important;
// }
.img-container[_ngcontent-c18] img[_ngcontent-c18]{
    height:500px !important;
}